@font-face {
    font-family: "neo";
    src: url("fonts/neo.ttf");
}

:root {
    --main-color: #3F64B5;
    --secondary-color: #273a63b0;
}

* {
    font-family: neo;
}

body {
    background: #f9f9f9;
}

button:focus,
button:active {
    outline: none !important;
    border: inherit !important;
}

a, a:hover {
    text-decoration: none;
}

/* Start navbar */
nav.navbar {
    background: #FFFFFF !important;
    border-bottom: 1px solid #3f64b57a;
}

.navbar .navbar-brand {
    color: var(--main-color);
}

.navbar .navbar-brand:hover {
    color: var(--secondary-color);
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(63, 100, 181)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar .nav-link {
    color: var(--main-color) !important;
}

.navbar .nav-link:hover {
    color: var(--secondary-color) !important;
}
/* End navbar */

/* Start Content */
.content {
    margin-top: 60px;
    margin-bottom: 60px;
}

.content .post {
    text-align: center;
    background: #FFFFFF;
    padding: 20px 22px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px #EAEAEA;
}

.post .post-image {
    width: 100%;
}

.post .post-image img{
    width: 100%;
    height: 320px;
}

.post .post-title {
    margin: 10px 0;
    color: var(--main-color);
}
.post .post-title a {
    color: var(--main-color);
}
.post .post-title h4:hover {
    text-decoration: underline;
}

.post .post-details button.btn-custom {
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    width: 110px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.post .post-details button.btn-custom:hover {
    background: var(--main-color);
    color: #FFFFFF;
}

.post .post-details .post-info {
    color: var(--secondary-color);
}

.post .post-details .post-info span {
    margin-right: 10px;
}

.post .post-details .post-info span i{
    margin-left: 5px;
}

.post .post-details .post-info a {
    color: var(--secondary-color);
    text-decoration: none;
}

.post .post-details .post-info a:hover {
    text-decoration: underline;
}


/* End Content */

/* Start side-bar */
.categories {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px #EAEAEA;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.categories h4 {
    position: relative;
    width: fit-content;
    margin-bottom: 15px;
}

.categories h4 span {
    background: var(--secondary-color);
    width: 100%;
    height: 3px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
}

.categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories ul li {
    color: #FFFFFF;
    background: var(--main-color);
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 5px;
    transition: all.3s ease-in-out;
}

.categories ul li:hover {
    background: var(--secondary-color);
}

.latest-posts {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px #EAEAEA;
    padding: 20px 10px 10px 10px;
}

.latest-posts h4 {
    position: relative;
    width: fit-content;
    margin-bottom: 15px;
}

.latest-posts h4 span {
    background: var(--secondary-color);
    width: 100%;
    height: 3px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
}

.latest-posts ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.latest-posts ul li {
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 10px;
    padding: 5px;
    min-height: 80px;
}

.latest-posts ul li:last-child {
    border-bottom: none;
}

.latest-posts ul li a {
    color: var(--main-color);
    transition: all .3s ease-in-out;
}

.latest-posts ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.latest-posts ul li .span-image {
    float: right;
    margin-left: 10px;
}

.latest-posts ul li .span-image img {
    width: 80px;
    height: 60px;
}
/* End side-bar */

/* Start article */
.content.article-content {
    margin-top: 20px !important;
}
.content .article {
    padding: 20px 0px;
    margin-bottom: 30px;
}

.article .article-info {
    color: var(--secondary-color);
    margin-bottom: 4px;
    font-size: 14px;
}

.article .article-info a {
    color: var(--secondary-color);
}
.article .article-info a:hover {
    text-decoration: underline;
}

.article .article-title {
    color: var(--main-color);
    margin-bottom: 20px;
}

.article .article-author {
    color: var(--secondary-color);
    font-size: 20px;
}

.article .article-image {
    width: 100%;
}

.article .article-image img{
    width: 100%;
    height: 100%;
}

.article .article-content {
    margin-top: 50px;
}

.article .article-content p {
    font-size: 20px;
}
/* End article */
/* Start Footer */
footer {
    color: var(--main-color);
    text-align: center;
    background: #FFFFFF;
    border-top: 1px solid #EAEAEA;
    padding: 10px 0;
}
/* End Footer */