/* Start general rules */
@font-face {
    font-family: "neo";
    src: url("fonts/neo.ttf");
}

:root {
    --main-color: #3F64B5;
    --secondary-color: #273a63b0;

    --ck-z-default: 100 !important;
    --ck-z-modal: calc( var(--ck-z-default) + 99999 ) !important;
}

* {
    font-family: neo;
}

body {
    background: #f9f9f9;
}

button:focus,
button:active {
    outline: none !important;
    border: inherit !important;
}

a, a:hover {
    text-decoration: none;
}
.ck-editor__editable {
    height: 300px !important;
}
/* End general rules */

/* Start notification messages */
.notify-message {
    padding: 5px;
    border-radius: 10px;
    background-color: #28a745;
    color: #FFFFFF;
    font-size: 18px;
    width: 300px;
    text-align: center;
    position: fixed;
    top: 61px;
    left: -300px;
    z-index: 9999;
}
.manage-categories .alert {
    position: fixed;
    top: 10px;
    left: 10px;
}
/* End notification messages */

/* Start side-area */
#side-area {
    background: var(--main-color);
    color: #FFFFFF;
    padding: 20px 0;
}

#side-area h4 {
    text-align: center;
}

#side-area ul {
    margin: 30px 0;
    list-style: none;
    padding: 0;
}

#side-area ul a {
    color: #FFFFFF;
}

#side-area i {
    margin-left: 2px;
}

#side-area ul li {
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

#side-area ul li.active {
    background: var(--secondary-color);
}

#side-area ul li a {
    color: #FFFFFF;
}

#side-area #articles-menu {
    margin: 5px 10px;
}
/* End side-area */

/* Start Main content */
.home-stat,
.main-content {
    margin: 60px 0;
    min-height: 514px;
}

.home-stat h4,
.main-content h4 {
    color: var(--main-color);
}

.home-stat .stat {
    padding: 20px;
    font-size: 15px;
    color: #FFF;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.home-stat .stat i {
    position: absolute;
    font-size: 80px;
    top: 35px;
    left: 30px;
}

.home-stat .stat .info {
    float: right;
}

.home-stat .stat span {
    display: block;
    font-size: 60px;
}

.home-stat .stat a {
    color: #FFF;
}

.home-stat .stat a:hover {
    color: #FFF;
    text-decoration: none;
}

.card-header .toggle-info {
    color: #999;
    cursor: pointer;
}

.card-header .toggle-info:hover {
    color: #444;
}

/* End Main content */

/* Start categories */
.add-category .btn-custom,
.add-post .btn-custom {
    background: var(--main-color);
    color: #FFFFFF;
    border: 1px solid var(--main-color);
    padding: 5px 10px;
    width: 100px;
}
.display-categories table thead,
.display-posts table thead {
    background: var(--main-color) !important;
    color: #FFFFFF;
}
.display-categories table tr th:first-child,
.display-posts table tr th:first-child {
    text-align: center;
}
.display-categories table thead th:last-child,
.display-posts table thead th:last-child {
    text-align: center;
}
/* End categories */
/* Start edit post modal */
#edit-post-modal .btn-custom,
#edit-category-modal .btn-custom {
    opacity: 0.9;
    background: var(--main-color);
    color: #FFFFFF;
    border: 1px solid var(--main-color);
}
#edit-post-modal .btn-custom:hover,
#edit-category-modal .btn-custom:hover {
    opacity: 1;
}
#edit-post-modal .modal-title,
#edit-category-modal .modal-title {
    color: var(--main-color);
}
/* End edit post modal */





/* Start Footer */
/*footer {*/
/*    color: var(--main-color);*/
/*    text-align: center;*/
/*    background: #FFFFFF;*/
/*    border-top: 1px solid #EAEAEA;*/
/*    padding: 10px 0;*/
/*}*/
/* End Footer */